.ivu-split-trigger {
	background: #444 !important;
}

.right-panel *,
.ivu-split-trigger,
.el-color-dropdown,
.el-color-dropdown *:not(.el-button--text),
.el-popover,
.el-popover * ,
#panelCtl .el-button{
	border-color: #333 !important;
	color: #bbb !important;
}

.el-popover,
.el-color-dropdown input,
.right-panel input,
.right-panel textarea,
.right-panel .el-checkbox__inner:not(.is-checked) {
	background-color: #333 !important;
	color: #bbb !important;
}

.right-panel button,
.right-panel span[role='button'],
.right-panel .ant-tree,
.right-panel .demo-split-pane,
.right-panel .el-card,
.right-panel .el-tree,
.el-color-dropdown,
.el-popover {
	background-color: #222 !important;
}

.right-panel .el-button {
	padding-left: 10px !important;
	padding-right: 10px !important;
}

.right-panel .top-pane span,
.right-panel .ant-tree,
.right-panel .demo-split-pane,
.right-panel .el-card,
.right-panel .el-tree {
	color: #aaa !important;
}

.right-panel .ant-tree-node-selected {
	background-color: #456 !important;
}

.right-panel .ant-tree-node-content-wrapper:hover,
.right-panel .el-tree-node .el-tree-node__content:hover {
	background-color: #567 !important;
}

.el-switch.is-checked .el-switch__core,
.el-tree-node.is-current .el-tree-node__content,
.el-checkbox__input.is-checked .el-checkbox__inner {
	background-color: #367 !important;
}

.right-panel .el-checkbox__label,
.right-panel .el-button,
.el-color-dropdown, button {
	color: #59a !important;
	background-color: #222 !important;
}

.tree-panel,
.prop-panel,
.ivu-modal-content,
.ivu-table-column-center,
.ivu-modal-header-inner {
	background-color: #222 !important;
	color: #bbb !important;
}